// .example-spacer {
//   flex: 1 1 auto;
// }
// #title{
//   margin-right: 10vw;
// }
#nav{
  display :flex ;
  flex-wrap: wrap;
  padding: 10px;
  margin:  10px;
  justify-content: space-around;}
.loader-container{
width: 100%;
z-index:99;
margin-top: 10px;
}
.container{
  margin-top: 20px;
}